@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  background: black;
  font-family: "Inter", sans-serif;
}
/* header-section-styles */
.banner,
.header {
  margin-top: 0;
}
/* navigation-bar-section-styles */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 3.125rem;
  margin-bottom: 2rem;
}
.logo {
  font-size: 2.25rem;
}
.hamburger {
  display: none;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 47px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  padding: 4px;
}
.menu li a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
}
.menu li:first-of-type a {
  background-color: #e6533c;
  padding: 8px 20px;
  border-radius: 46px;
}
.menu li:last-of-type a {
  padding: 0px 20px;
}

/* banner-section-styles */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 5.5rem;
}
.text-side {
  max-width: 32.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px;
}
.banner-heading {
  color: white;
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
}
.banner-heading > .shape {
  font-weight: 400;
}
.text-side .banner-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}
.banner-btns {
  display: flex;
  gap: 0.875rem;
}
.primary-btn {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: white;
  padding: 16px 40px;
  border-radius: 42px;
  outline: none;
  border: none;
  background-color: #e6533c;
  text-transform: capitalize;
}
.download-btn {
  background-color: transparent;
  border: 1px solid white;
}
.image-side {
  max-width: 21.875rem;
  text-align: center;
  position: relative;
}
.hero-image {
  height: 100%;
}
.tutorials,
.workouts {
  height: 96px;
  width: 206px;
  position: absolute;
  content: "";
  padding: 20px 23px;
  text-align: left;
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
}
.tutorials {
  top: 421px;
  left: -113px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.workouts {
  top: 125px;
  right: -74px;
}
.tutorials > .red-circle {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #e6533c;
}
.count {
  color: rgb(250, 250, 249);
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 8px;
}
.workout-desc,
.tutorial-desc {
  color: rgba(239, 237, 232, 0.65);
  font-size: 16px;
  font-weight: 400;
}
/* change-your-habits-section-styles */
section {
  margin: 100px 0px;
}
.change-habits {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}
.texts {
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
}
.schedule-habits {
  display: flex;
  gap: 40px;
}
.frames {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 30px;
}
.frame-img {
  height: 180px;
  width: 180px;
  border-radius: 100%;
  border: 4px solid rgba(255, 255, 255, 0.1);
}
.frame-heading {
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.frame-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

/* run-extra-mile-easily-section-styles */
.run-extra {
  margin-top: 100px;
  border-radius: 18px;
  padding: 30px 30px 30px 50px;
  background: rgb(34, 34, 34);
  display: flex;
  gap: 190px;
  justify-content: space-between;
}
.run-extra > .texts {
  margin: 0;
  max-width: 27.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}
.run-extra .section-heading {
  text-align: left;
  margin: 0;
}
.image-section {
  max-width: 45%;
  min-width: 350px;
  height: 280px;
  background-image: url(../images/run.jpg);
  background-size: 300%;
  background-position: 70% 34%;
  border-radius: 18px;
}
/* BMI-calculator-heading-section-styles */
.bmi-heading {
  color: white;
  font-size: 28px;
  font-weight: 900;
  text-align: left;
}
.bmi-heading .section-heading {
  font-weight: 500;
  text-align: left;
}
.bmi-heading .section-desc {
  text-align: left;
}
.bmi-heading .texts {
  margin: 30px 0px;
}

/* shared-section-styles */
.orangy-red {
  color: #e6533c;
}
.container {
  max-width: 1060px;
  margin: 100px auto;
}
.brand-name {
  font-weight: 800;
}
.section-heading {
  color: white;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 14px;
}
.section-desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 24px;
}

/* media-queries-section-styles */
@media screen and (max-width: 576px) {
  .container {
    max-width: 90%;
    margin: 0 auto;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  .banner {
    margin: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .banner-heading {
    font-size: 2.25rem;
  }
  .banner-heading,
  .banner-desc {
    max-width: 255px;
  }
  .workouts {
    top: 65px;
    right: -30px;
    width: 146px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tutorials {
    width: 156px;
    height: 74px;
    top: 255px;
    left: 25px;
  }
  .tutorials > .red-circle {
    height: 30px;
    width: 30px;
  }
  .count {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 3px;
  }
  .workout-desc,
  .tutorial-desc {
    font-size: 10px;
  }
  .section-heading {
    font-size: 32px;
  }
  .schedule-habits {
    flex-direction: column;
  }
  .run-extra {
    margin-top: 66px;
    flex-direction: column;
    gap: 30px;
  }
  .texts .section-heading {
    font-size: 32px;
  }
  .image-section {
    max-width: 100%;
    min-width: 100%;
  }
  .primary-btn {
    max-width: 100%;
    min-width: 100%;
  }
}
